body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container{
    width: 70%;
    margin: 2em auto;
    padding: 5%;
}


.cabecalho{
    width: 100%;
    float: left;
    text-align: center;
}

#foto{
    width: 100%;
    float: left;
}

#foto img{
    width: 30%;
    border-radius: 100%;
    border: solid white 0.2em;
    margin-bottom: 1em;
}

#nome{
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
}

#lead{
    font-size: 1em;
    font-style: italic;
}

.contato{
    margin-top: 1.5em;
    width: 100%;
    float: left;
}

.contato h1{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1.1em;
}

.contato hr{
    margin: 0 0 0.1em 0;
    padding: 0;
}

.contato ul{
    width: 100%;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.contato ul li{
    text-align: center;
    display: inline-block;
    padding: 0.5em;
    list-style-image: url(img/email_icon.png);
}

.contato ul li:hover{
    background-color: white;
    color: black;
}

#whatsapp::before{
    content: '';
    position: relative;
    left: 0;
    top: 0;
    background-image: url(img/whatsapp_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3px;
    padding: 2px 11px;
}

#email::before{
    content: '';
    position: relative;
    left: 0;
    top: 0;
    background-image: url(img/email_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3px;
    padding: 2px 11px;
}

#linkedin::before{
    content: '';
    position: relative;
    left: 0;
    top: 0;
    background-image: url(img/linkedin_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3px;
    padding: 2px 11px;
}

#behance::before{
    content: '';
    position: relative;
    left: 0;
    top: 0;
    background-image: url(img/behance_icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3px;
    padding: 2px 11px;
}

a{
    color: white !important;
}

a:visited{
    color: white;
}






































